

#top_header{
   text-align: center;
   background-color: #F2DEE9;
   height: 65px;
}
#top_header>h3{
    font-size: 17px;
    padding-top: 20px; 
}
#search_bar{
    display: flex;
    justify-content:space-around;
    border: 1px solid green;
    align-items: center;
    width: 80%;
    margin: auto;
    
}
#bag_div{
    display: flex;
    justify-content:space-around;
    border: 1px solid green;
    align-items: center;
    width:10%;
}
#logo>img{
    width:150px
}
#input_box>input{
    width:400px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(239, 239, 239);
    border: none;
    font-size: 25px;
}
#services>p:nth-child(1){
    font-weight: bold;
    margin-bottom: -2px;
}
#services>p:nth-child(2){
    margin-top: 2px;
    color: rgb(169, 167, 167);
    font-size: 14px;
}