#main{
    display: flex;
}
#cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
   
    gap: 25px;
    margin: auto;
   
}
#cont1{
    width: 25%;
}
#cont>div{
    height: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cont>div:hover{
    color: gray;
}

#cont>div>img{
    width: 200px;
    margin: auto;
    display: block;
}
.img1{
    text-align: end;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#rat{
   font-size: 20px;
   border: none;
   padding: 20px;
}option{
    font-size: 15px;
    
}
.gol{
    width: 10px;
    border-radius: 50%;
    border: 2px solid;
}
label{
    width: 10PX ;
    height: 10PX ;
}
#bt{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#bt>div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:10px 15px;
    justify-content: space-around;
    width: 70%;
    padding: 20px;
    border-radius: 5px;
}
#fod{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#fod>div{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:10px 15px;
    justify-content: space-around;
    width: 70%;
    padding: 20px;
    border-radius: 5px;
    
}
#ig{
    
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
#ig>div>img{
    width: 100%;
}